.header
{
    /*border: 1px solid red;*/
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f8f9fa;
}
.header p
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
button
{
    background: #007bff;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.header
{
    position: fixed;
    width: 100%;
}