.intro
{
    
    height: 400px;
    background: #f8f9fa;
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 70px;   
    
}
.icons
{
    text-align: center; 
    font-size: 20px;   
}
img, h2
{
    padding-bottom: 10px;
}
img
{
    width: 75px;
    height: 85px;
}
p, h2, h3
{
    font-family: 'Lato', sans-serif;
}